<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @listing.sold ? "Not for sale" : "For sale" %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= format_condition(@listing.condition) %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price) %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.user.username %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category.name %>
</p>

<div>
  <% if @listing.picture.attached? %>
    <%= image_tag @listing.picture, alt: @listing.title %>
  <% else%>
    <%= image_tag "http://placekitten.com/200/300", alt: "kitty cat" %>
  <% end %>
</div>

<% if current_user && current_user.id == @listing.user_id %>
    <%= link_to "Edit", edit_listing_path(@listing) %> |
    <%= link_to "Delete", @listing, method: :delete, data: {confirm: "Are you sure?"} %> |
<% end %>
<%= link_to 'Back', listings_path %>
